.form__login {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    background-color: aliceblue;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 20px;
    font-family: 'Source Sans Pro', sans-serif;

    div {
        position: relative;
        padding: 10px 0;
        height: 100px;
    }
}

.btn__container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn__login {
    width: 150px;
    height: 50px;
    border-radius: 10px;
}

.input__content {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
    background: transparent;
}

.input__content:focus + .label__email {
    top:-50%;
    color: red;
}

.label__formal {
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: gray;
    transition: all 0.3s ease-in-out;
    background-color: aliceblue;
    padding: 0 5px;
    position: absolute;
}
.label__email {
    top:-50%;
    color: red;
}

.label__password {
    top:-50%;
    color: red;
}
