.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal__content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    width: 800px;
    min-width: 300px;
    max-width: 90vw;
    max-height: 90vh;
    overflow: auto;
    position: relative;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    cursor: pointer;
    color: black;
    background-color: transparent;
    font-size: 40px;
}
