:root {
    --heading-color: hsla(0, 0%, 4%, 0.986);
    --text-color: hsl(27, 29%, 94%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: unset;
}
.ant-notification {
    z-index: 9999 !important;
}
